<!DOCTYPE>
<html>
<head data-th-fragment="copy">
  <title>Web Application Framework</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <meta id="Viewport" name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1, minimum-scale=1, user-scalable=no, shrink-to-fit=no" />

  <!-- Bootstrap -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
  <link data-th-href="@{/css/style.css}" href="/css/style.css" rel="stylesheet" />

  <!-- Material icons -->
  <link data-th-href="@{https://fonts.googleapis.com/icon?family=Material+Icons}" href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<body>
</body>
</html>