<!DOCTYPE>
<html lang="en">
  <head data-th-replace="header :: copy"></head>
  <body>
    <nav data-th-replace="navigation :: copy"></nav>
    <!-- <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
      <div class="container">
        <a class="navbar-brand" data-th-href="@{/}" href="#">Spring Boot Blueprint</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item">
              <a class="nav-link" data-th-href="@{/}" href="#">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" data-th-href="@{/employees}" href="#">Employees</a>
            </li>
          </ul>
        </div>
      </div>
    </nav> -->

    <div class="container">
      <h1>Home</h1>
      <p>
        Welcome to Spring Boot Blueprint!
      </p>
    </div>

    <div data-th-replace="footer :: copy"></div>
  </body>
</html>